/*------------ different background --------------*/
.bg-red{
	@include backgrounds(url('/images/background/redBg.jpg'),cover,top center,no-repeat);
}
.bg-blackimg{
	@include backgrounds(url('/images/background/blackbg.jpg'),cover,top center,no-repeat);
}
.bg-white{
	 background: url(/images/background/bgBottomRight.png) right bottom no-repeat,  url(/images/background/bgTopLeft.png) left top no-repeat  #f5f5f5;
}
.bg-smallwhite{
	@include backgrounds(url('/images/background/whiteBg.jpg'),cover,top center,no-repeat);
}
.bg-black01{
	background: #282f37;
}
.bg-lblack{
	background:$blackLight;
}
.bg-black{
	background:#20262d;
}
.bg-lblack01{
	background:$blackLight01;
}
.bg-redcolor{
	background:$red;
}
.bg-bluecolor{
	background:#486fa8;
}
.bg-green{
	background:#427288;
}
